.banner_bg {
    width: 100%;
    padding: 13em;
    position: relative;
    background: url("../assets/images/backgrounds/11.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000 !important;
    min-height: 680px;
}

.row__steps {
    width: 100%;
    padding: 2em;
    background-color: #fff;
    color: #000;
    position: relative;
}

.step_one {
    width: 80%;
    padding: 3em;
    position: relative;
    background: url("../assets/images/backgrounds/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 350px;
    background-size: cover;
}
.step_two {
    width: 80%;
    padding: 3em;
    position: relative;
    min-height: 350px;
    background: url("../assets/images/backgrounds/2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.step_three {
    width: 80%;
    padding: 3em;
    position: relative;
    min-height: 350px;
    background: url("../assets/images/backgrounds/3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.step_four {
    width: 80%;
    padding: 3em;
    position: relative;
    min-height: 350px;
    background: url("../assets/images/backgrounds/4.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__register {
    width: 50% !important;
    margin: auto !important;
    position: relative !important;
}

.footer__row {
    width: 100%;
    padding: 3em;
    position: relative;
    background: url("../assets/images/backgrounds/footer_bg.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    min-height: 400px;
}

.body__getting__started {
    width: 100%;
    padding: 1em;
    margin: 2em auto;
    position: relative;
    color: #fff !important;
    min-height: 500px;
}

.classic-app-image .bg_app_shape:after {
    bottom: 3rem;
    left: -8rem;
    width: 55rem;
    height: 35rem;
    border-radius: 20rem;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
    opacity: 0.9;
  }
  .classic-app-image .bg_app_shape:after {
    content: " ";
    position: absolute;
    z-index: -1;
  }
  .classic-app-image .bg_app_shape:after {
    -webkit-box-shadow: 0 0 40px rgba(47, 85, 212, 0.5);
    box-shadow: 0 0 40px rgba(47, 85, 212, 0.5);
    background-color: #2f55d4;
  }

.container__style {
    width: 85%;
    margin: 2em auto;
    position: relative;
}

.top2 {
    margin: 2em auto !important;
}

.never__runout {
    width: 85%;
    padding: 3em;
    position: relative;
    margin: auto;
    background: url("../assets/images/backgrounds/giphy.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.never__runout_text {
    margin: 6em auto;
    width: 100%;
    padding: 2em;
}

.never__runout_text__2 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col1.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.never__runout_text__2_2 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col2.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.never__runout_text__2_3 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col3.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.never__runout_text__2_4 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col4.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.loginImg {
    width: 100%;
    padding: 2em;
    background: url("../assets/images/backgrounds/logInPage.gif");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.never__runout_text__2_5 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col5.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.never__runout_text__2_6 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col6.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.never__runout_text__2_7 {
    margin: 1em auto;
    width: 100%;
    padding: 4em;
    background: url("../assets/images/backgrounds/col7.png");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}



.never__runout_text__3 {
    margin: 9px auto;
    width: 100%;
    padding: 1em;
}

.getting__started {
    width: 100%;
    padding: 3em;
    position: relative;
    margin: auto;
    background: url("../assets/images/backgrounds/started.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.row__style {
    width: 100%;
    padding: 6em;
    position: relative;
    margin: auto;
    background-color: #fff;
    min-height: 300px;
}

.row__style__2 {
    width: 100%;
    padding: 6em;
    position: relative;
    margin: auto;
    background-color: rgb(7, 42, 66);
    min-height: 300px;
    color: #fff;
}

.icon__col {
    background-color: #fff;
    color: #000;
    width: '30%'; 
    margin: '1em auto'; 
    border-radius: 22px;
    padding: 9px;
}

.row__style__3 {
    width: 100%;
    padding: 6em;
    position: relative;
    margin: auto;
    background-color: #fff;
    min-height: 300px;
    color: #000;
}

.create__account {
    width: 60%;
    padding: 12px !important;
    float: left;
    color: #fff !important;
    background-color: #000 !important;
    border: none;
    margin: 2em auto !important;
    border-radius: 12px !important;
}

.inner__row {
    width: 55%;
    position: relative;
    margin: auto;
}

.btn__center {
    width: 25%;
    margin: auto !important;
    position: relative; 
}

.group__btn {
    width: 100%;
    margin: auto;
    position: relative;

}

.create__account__3 {
    width: 100%;
    padding: 12px !important;
    color: #fff !important;
    background-color: #000 !important;
    border: none;
    font-weight: 900 !important;
    margin: 2em auto !important;
    border-radius: 12px !important;
}

.create__account__4 {
    width: 100%;
    padding: 12px !important;
    color: #fff !important;
    background-color: #004AAD !important;
    border: none;
    font-weight: 900 !important;
    margin: 2em auto !important;
    border-radius: 12px !important;
}

.create__account__4:hover {
    color: #fff;
    background-color: #051A37 !important;
}

.create__account__3:hover {
    color: #fff;
    background-color: #333538 !important;
}

.create__account__2 {
    width: 50%;
    padding: 12px !important;
    float: left;
    color: #fff !important;
    background-color: #000 !important;
    border: none;
    font-weight: 900 !important;
    margin: 2em auto !important;
    border-radius: 12px !important;
}

.toaster__content {
    margin: 0 !important;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 165%;
    color: #4f4f4f;
}

ul.row__line {
    padding: 0px;
    list-style: none;
    margin: 0px !important;
}

ul.row__line li {
    display: inline-block !important;
    padding-right: 22px;
    margin: 5px auto !important;
}

.paystack__button {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: #d3793c;
    font-weight: bold;
    color: #e0eafc;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 45px;
    margin-top: 10px;
}

.paystack__button:hover {
    background-color: rgb(106, 29, 29);
}

.paystack__button:focus {
    outline: none;
}

.input__field {
    padding: 12px;
    width: 100%;
}
.modal___window {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: 'translate(-50%, -50%)';
    width: 500;
    border: '2px solid #000';
    box-shadow: 24px;
    background-color: aliceblue;
    padding: 3em;
}

.modal___window__3 {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: 'translate(-50%, -50%)';
    width: 500;
    border: '2px solid #000';
    box-shadow: 24px;
    background-color: aliceblue;
    padding: 3em;
}

.modal___window_1 {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: 'translate(-50%, -50%)';
    width: 400;
    border: '2px solid #000';
    box-shadow: 24px;
    background-color: aliceblue;
    padding: 3em;
}

@media screen and (max-width: 320px) {
    .modal___window {
        position: absolute;
        top: 20%;
        left: 0% !important;
    }
    .paystack__button {
        width: 100%;
    }
    .banner_bg {
        width: 100%;
        position: relative;
        padding: 16px;
    }
    .create__account__4 {
        width: 100%;
        padding: 12px;
        margin: 9px auto;
    }
    .group__btn {
        width: 100%;
        margin: auto;
        position: relative;
    
    }
    .create__account__3 {
        width: 100%;
        padding: 12px;
    } 
    .row__style__3 {
        width: 100%;
        position: relative;
        margin: auto;
        padding: 9px;
    }
    .container__style {
        width: 100%;
        position: relative;
        margin: 1em auto;
        padding: 9px;
    }
    .row__style__2 {
        width: 100%;
        position: relative;
        margin: auto;
        padding: 9px;   
    }
    .icon__col {
        width: 60%;
        padding: 9px;
    }
    .row__steps {
        width: 100%;
        padding: 9px;
        position: relative;
    }
    .step_one {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .step_two {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .step_three {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .step_four {
        width: 100%;
        position: relative;
        padding: 12px;
    }
}

@media screen and (max-width: 840px) {
    .modal___window {
        position: absolute;
        top: 20%;
        left: 15% !important;
    }

    .banner_bg {
        width: 100%;
        position: relative;
        padding: 16px;
        margin: auto;
    }
    .create__account__4 {
        width: 100%;
        padding: 12px;
        margin: 9px auto;
    }
    .create__account__3 {
        width: 100%;
        padding: 12px;
    } 
    .group__btn {
        width: 100%;
        margin: auto;
        position: relative;
    
    }
    .row__style__3 {
        width: 100%;
        position: relative;
        margin: auto;
        padding: 9px;
    }
    .container__style {
        width: 100%;
        position: relative;
        margin: 1em auto;
        padding: 9px;
    }
    .row__style__2 {
        width: 100%;
        position: relative;
        margin: auto;
        padding: 9px;   
    }
    .icon__col {
        width: 60%;
        padding: 9px;
    }
    .row__steps {
        width: 100%;
        padding: 9px;
        position: relative;
    }
    .step_one {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .step_two {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .step_three {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .step_four {
        width: 100%;
        position: relative;
        padding: 12px;
    }
    .loginImg {
        width: 100%;
        padding: 2em;
        background: url("../assets/images/backgrounds/logInPage.gif");
        background-size: cover;
        background-position: left center;
        min-height: 250px;
    }
}